.non-found-msg{
    font-size: 16px;
}

@media (max-width: 675px) {
    
    .movie{

        &__menu{
            margin-top: 24px;
        }

        &__list{
            margin: 16px;
        }

        &__title{
            margin-top: 0px;
            font-weight: 400;
            font-size: 16px;
        }
    }
}
