.container-choice{
    margin: 48px 0px;
    background-image: url('../../../images/you.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: contain;
}

.movie-details{
    margin: 0 74px;
    height: 400px;
    color: $white;
    padding-top: 150px; 
    display:flex;
    flex-direction: column;
    
    &__title{
        font-size:52px;
        font-weight: 700;
        margin-bottom: 24px;
    }

    &__rating{
        display:flex;
    }

    &__icon{
        color:#F6D700;
        height:20px;
        width:20px;
        margin-right: 4px;
    }
    
    &__points{
        margin-right: 8px;
    }

    &__plot{
        margin-top: 16px;
        width: 600px;
        line-height: 24px;
    }

    &__choice-btn{
        margin-top: 16px;
    }
}

.button--blue{
    margin-right: 24px;
}

@media (max-width: 675px){
    .container-choice{
        margin: 32px 0px;
    }

    .movie-details{
        margin: 0 16px;

        &__title{
            font-size:36px;
        }

        &__plot{
            margin-top: 14px;
            width: 100%;
        }

        &__choice-btn{
            margin-top: 10px;
        }
    }  
}