.movie-page{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.movie-column-left{
    height:100vh;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
      
}

.movie-column-right{
    color:$white;
    padding:24px 32px;
}

.movie__rating{
    &-icon{
        color:#F6D700;
        height:20px;
        width:20px;
        margin-right: 6px;
    }

    &-points{
        font-weight: 700;
    }
}

.movie__text{
    margin: 16px 0 48px 0;

    &-plot{
        line-height: 1.5;
    }
}

.movie__details{
    margin: 48px 0;
    
    &-box{
        margin-bottom: 16px;
    }

    &-span{
        margin: 8px 16px;
        display: block; 
        font-weight: 700;
    }
}

@media (max-width: 675px){
    .movie-page{
        display:flex;
        flex-direction: column;
    }

    .movie-column-left{
        height:auto;    
    }

    .movie__text{
        
        &-plot{
            line-height: 1.5;
            font-size: 16px;
        }
    }
}

