.slide{

    &__overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        opacity: 0;
        background-color: rgba($colorPrimary, .4);
        transition: all ease-in 0.3s;
        &:hover {
            opacity: 1;
        }
    }    

    &__box-btns {
        position: absolute;
        bottom: 0;
        padding: 16px;

    }

    &__btn {
        font-size:24px;
        color: $white;
        margin-right: 16px;
    }

}



// .slide-watchlist{

    // &__title{
    //     font-size: 32px;
    //     font-weight: 700;
    //     color: $white;
    //     margin: 16px 0;
    // }

    // &__list{
    //     display:grid;
    //     grid-template-columns: repeat(6, 1fr);
    //     gap: 16px;
    // }

    
//}
