.slide{
    margin: 32px;

    &__img{
        display:block;
        height: 400px;
        width: 250px;
    }

    &__overlay{
        width: 100%;
        height: 100vh; 
        position: fixed;
        top: 32px;
        bottom: 20px;
        z-index: 1;
        display: none;
        background-color: $colorPrimary;
        opacity: 0.4; 
    }    

}

.slide:hover .slide__overlay{
    display: block;
    height: 400px;
    width: 250px;
}

// .slide-watchlist{

    // &__title{
    //     font-size: 32px;
    //     font-weight: 700;
    //     color: $white;
    //     margin: 16px 0;
    // }

    // &__list{
    //     display:grid;
    //     grid-template-columns: repeat(6, 1fr);
    //     gap: 16px;
    // }

    
//}