h1{
    color: $colorPrimary; 
    font-size: 42px;
    font-weight: 800;
}

h2{
    font-size: 36px;
    font-weight: 800;
    color: $titleColor;
    margin-bottom: 32px;
}

h3{

}

h4{

}

h5{

}

h6{

}