
.input {
    display: block;
    background-color: transparent;
    border: 1px solid $formColor; 
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    height: 48px;
    width: 100%;
    color: $white;

    &::placeholder {
        color: $gray
    }

    &__text-help{
        color: red;
    }
    
    &--error{
        border: 1px solid red;
    }

    &--footer{
        font-size: 14px; 
        color: $neutroColor;
        line-height: 18px;
        padding: 8px;
    }

    &--search{
        display: block;
        padding: 8px; 
        margin-right: 16px;
    }


}

.movie{

    &__menu{
        margin-top: 72px;
    }

    &__list{
    padding: 8px;
    margin: 0px 72px;
    }

    &__title{
    margin-top: 16px;
    font-weight: 400;
    font-size: 24px;
    }
}


@media (max-width: 675px) {
    .input{

        font-size: 14px;
        
        &--search{
            height: 32px;
            font-size: 12px;
        }
    }

    .movie{

        &__menu{
            margin-top: 24px;
        }

        &__list{
            margin: 16px;
        }

        &__title{
            margin-top: 0px;
            font-weight: 400;
            font-size: 16px;
        }
    }
}


