.container-header{
    margin: 16px 74px;
    display:grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 32px;
    align-items: center;
}

.logo__image{
    height: 24px;
    width: 72px;
    font-size: 22px;
    font-weight: 800;
    color: $colorPrimary;
}

.header-nav{
    color: $white; 
}

.nav__menu{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 16px;
    justify-content: start;
    align-items: center;
}

.header-box-options{
    display: flex;
}

.options__buscador{
    color: $gray; 
    background-color: transparent;
    border: none; 
}

.options__profile{
   &-img{
       display:block; 
       height:32px;
       width:32px;
       margin: 8px;
   }
}

.non-found{
    height: 100%;
}

.non-found-msg{
    color:red;
}

@media (max-width:675px) {
    .container-header{
        margin: 16px;
        display:flex;
        flex-direction: column;
        align-items: start;
    }

    .header-box-logo{
        margin-bottom: 8px;
    }

    .header-nav{
        margin-bottom: 8px; 
    }

    .nav__menu{
        font-size: 14px;
    }

    .header-box-options{
        margin-top: 8px;
        
    }

    .options__profile{
        &-img{
            position: absolute;
            top:8px;
            right: 8px;
            height:24px;
            width:24px;
         
        }
     }
}